<div class="p-fluid p-formgrid grid mt-3">
    <div class="field col-12">
        <label for="">Estatus: Entregado</label>
    </div>
    <div class="field col-12">
        <label>Fecha de inicio reparto:</label>
    </div>
    <div class="field col-12">
        <label>Fecha de llegada:</label>
    </div>
    <div class="field col-12">
        <label>Fecha de finalización</label>
    </div>
    <div class="field col-12">
        <p-image 
            src="https://primefaces.org/cdn/primeng/images/galleria/galleria10.jpg" 
            alt="Image" 
            width="300" 
            [preview]="true" />

    </div>
    <div class="field col-12">
        <p-image 
            src="https://primefaces.org/cdn/primeng/images/galleria/galleria10.jpg" 
            alt="Image" 
            width="300" 
            [preview]="true" />
    </div>
    <div class="field col-12"></div>
</div>