<div class="p-fluid p-formgrid grid mt-3">
    <div class="field col-12 my-0">
        <p-button 
            label="Agregar nuevo usuario" 
            icon="pi pi-user-plus" 
            severity="success" 
            (onClick)="open()" />
    </div>
    <div class="field col-12 my-0">
        <app-card-dashboard
            title="Usuarios registrados"
            icon="pi pi-users">
            <p-table 
                [value]="users">
                <ng-template pTemplate="header">
                    <tr>
                        <th>Id del usuario</th>
                        <th>Nombre del usuario</th>
                        <th>¿Esta activo?</th>
                        <th>Rol del usuario</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-user>
                    <tr>
                        <td>{{user.idUser}}</td>
                        <td>{{user.userName}}</td>
                        <td>
                            <p-checkbox [(ngModel)]="user.isActive" [binary]="true" [disabled]="true" />
                        </td>
                        <td>{{user.rolDescription}}</td>
                    </tr>
                </ng-template>
            </p-table>
        </app-card-dashboard>
    </div>
</div>