<div class="p-fluid p-formgrid grid">
    <div class="field col-12 sm:col-12 md:col-12 lg:col-6 xl:col-6 mb-0">
        <div class="p-fluid p-formgrid grid">
            <div class="field col-12 sm:col-12 md:col-12 lg:col-4 xl:col-4">
                <app-card header="Venta diaria">
                    <div class="flex flex-column">
                        <h3 class="my-0 text-center">Venta diaria</h3>
                        <div class="flex align-items-center justify-content-center gap-2 mt-1">
                            <fa-icon [icon]="snowflake" style="padding: 0.8rem; background-color: blue; color: white; border-radius: 0.7rem; font-size: 1.5rem;"></fa-icon>
                            <h1 class="my-0">${{ventas.cards.day}}</h1>
                        </div>
                    </div>
                </app-card>
            </div>
            <div class="field col-12 sm:col-12 md:col-12 lg:col-4 xl:col-4">
                <app-card header="Venta semanal">
                    <div class="flex flex-column">
                        <h3 class="my-0 text-center">Venta diaria</h3>
                        <div class="flex align-items-center justify-content-center gap-2 mt-1">
                            <fa-icon [icon]="snowflake" style="padding: 0.8rem; background-color: blue; color: white; border-radius: 0.7rem; font-size: 1.5rem;"></fa-icon>
                            <h1 class="my-0">${{ventas.cards.week}}</h1>
                        </div>
                    </div>
                </app-card>
            </div>
            <div class="field col-12 sm:col-12 md:col-12 lg:col-4 xl:col-4">
                <app-card header="Venta mensual">
                    <div class="flex flex-column">
                        <h3 class="my-0 text-center">Venta diaria</h3>
                        <div class="flex align-items-center justify-content-center gap-2 mt-1">
                            <fa-icon [icon]="snowflake" style="padding: 0.8rem; background-color: blue; color: white; border-radius: 0.7rem; font-size: 1.5rem;"></fa-icon>
                            <h1 class="my-0">${{ventas.cards.month}}</h1>
                        </div>
                    </div>
                </app-card>
            </div>
            <div class="field col-12">
                <app-card header="Ventas">
                    <p-table 
                        [value]="ventas.table" [scrollable]="true" scrollHeight="22.3rem"
                        styleClass="mt-5 pl-3">
                        <ng-template pTemplate="header">
                            <tr>
                                <th>Cliente</th>
                                <th>Bolsas compradas</th>
                                <th>$ generado</th>
                                <th>Fecha de compra</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-body>
                            <tr>
                                <td>{{body.cliente}}</td>
                                <td>{{body.bolsas}}</td>
                                <td>{{body.total}}</td>
                                <td>{{body.pedido | date:'dd/MM/yyyy HH:mm:SS'}}</td>
                            </tr>
                        </ng-template>
                    </p-table>
                </app-card>
            </div>
        </div>
    </div>
    <div class="field col-12 sm:col-12 md:col-12 lg:col-6 xl:col-6 mb-0">
        <app-card header="Historico ventas">
            <div class="mt-3">
                <p-chart type="bar" [data]="ventas.chart" height="32.7rem"></p-chart>
            </div>
        </app-card>
    </div>
    <!-- <div class="field col-12">
        <app-card header="Meta diaria de ventas">
            <div class="mt-3">
                <p-chart 
                    height="20rem" 
                    type="bar" 
                    [data]="metaDiariaPorClienteDataset_10" 
                    [options]="options"/>
            </div>
        </app-card>
    </div> -->
    <div class="field col-12 mb-7">
        <app-card header="Estatus de pedidos">
            <div class="mt-3">
                <p-chart height="20rem" type="bar" [data]="statusChart" [options]="options"></p-chart>
            </div>
        </app-card>
    </div>
</div>