<div class="p-fluid p-formgrid grid">
    <div class="field col-12 sm:col-12 md:col-12 lg:col-4 xl:col-4 mt-3 mb-0">
        <label style="color: white;">Seleccione un rango de fechas:</label>
        <p-calendar
            [(ngModel)]="dates"
            [showIcon]="true"
            dateFormat="dd/mm/yy"
            selectionMode="range" />
    </div>
    <div class="field col-12 sm:col-12 md:col-12 lg:col-4 xl:col-4 sm:mt-0 md:mt-0 lg:mt-3 xl:mt-3 mt-0 mb-0">
        <p-button
            severity="success"
            label="Buscar"
            [style]="{'margin-top': '1.59rem'}"
            icon="pi pi-search"
            [raised]="true"
            (onClick)="getDataDashboard()" />
    </div>
    <div class="field col-12 sm:col-12 md:col-12 lg:col-6 xl:col-6 my-0">
        <div class="p-fluid p-formgrid grid">
            <div class="field col-12 sm:col-12 md:col-12 lg:col-4 xl:col-4 my-0">
                <app-card-dashboard
                    (click)="filterDataTable(1)"
                    [loading]="loadingCards"
                    title="Venta diaria"
                    icon="pi pi-box">
                    <div class="flex align-items-center justify-content-center gap-2">
                        <h1 class="my-0">${{dataCards.today}}</h1>
                    </div>
                </app-card-dashboard>
            </div>
            <div class="field col-12 sm:col-12 md:col-12 lg:col-4 xl:col-4 my-0">
                <app-card-dashboard
                    (click)="filterDataTable(2)"
                    [loading]="loadingCards"
                    title="Venta semanal"
                    icon="pi pi-box">
                    <div class="flex align-items-center justify-content-center gap-2">
                        <h1 class="my-0">${{dataCards.week}}</h1>
                    </div>
                </app-card-dashboard>
            </div>
            <div class="field col-12 sm:col-12 md:col-12 lg:col-4 xl:col-4 my-0">
                <app-card-dashboard
                    (click)="filterDataTable(3)"
                    [loading]="loadingCards"
                    title="Venta del mes"
                    icon="pi pi-box">
                    <div class="flex align-items-center justify-content-center gap-2">
                        <h1 class="my-0">${{dataCards.month}}</h1>
                    </div>
                </app-card-dashboard>
            </div>
            @if(dataTableCards !== undefined){
                <div class="field col-12">
                    <app-card-dashboard
                        icon="pi pi-dollar"
                        [title]="'Informacion ventas por: ' + (idDataTableSelected === 1 ? 'Hoy' : (idDataTableSelected === 2 ? 'Esta semana' : 'Este mes'))">
                        <p-table [value]="dataTableCards">
                            <ng-template pTemplate="caption"></ng-template>
                            <ng-template pTemplate="header">
                                <tr>
                                    <th>Negocio</th>
                                    <th>Cliente</th>
                                    <th>Bolsas compradas</th>
                                    <th>Total pagado</th>
                                    <th>Detalles</th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-data>
                                <tr>
                                    <td>{{data.negocio}}</td>
                                    <td>{{data.cliente}}</td>
                                    <td>{{data.totalBolsas}}</td>
                                    <td>{{data.totalPagar}}</td>
                                    <td>
                                        <p-button
                                            label="Ver detalles"
                                            icon="pi pi-eye"
                                            (onClick)="openModalDetails(dataCards)" />
                                    </td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </app-card-dashboard>
                </div>
            }
        </div>
    </div>
    <div class="field col-12 sm:col-12 md:col-12 lg:col-6 xl:col-6 my-0">
        <app-card-dashboard
            title="Venta diaria"
            icon="pi pi-box">
            <p-chart
                type="bar"
                [data]="ventas?.chart"
                height="32.7rem" />
        </app-card-dashboard>
    </div>
    <div class="field col-12 my-0">
        <app-card-dashboard
            title="Venta diaria"
            icon="pi pi-box">
            <p-chart
                height="20rem"
                type="bar"
                [data]="statusChart"
                [options]="options" />
        </app-card-dashboard>
    </div>
</div>
