.app-topbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;          
    height: 3.7rem;
    background-color: #0685b7dd;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(10px);
    border-bottom: 1px solid rgba(255, 255, 255, 0.12);
    z-index: 1000;
}

label, p, span, small, i {
    color: white;
}
.item {
    border-radius: 0.7rem;
    transition: all 0.25s ease-out;
    cursor: pointer;
    padding: 0.7rem;
}
.item:hover {
    border: solid 1px #0685b7dd;
    background-color: #53c1ecdd;
    transition: all 0.25s ease-in;
}